<h1>Update the menu with a Burger</h1>

<form class="create-update-form" action="/" method="POST">

  <div class="form-group">
    <label for="burger">Your Order:</label>
    <br>
    <textarea id="burger" name="burger_name" rows="4" cols="40">{{this.burger_name}}</textarea>
  </div>
  <button type="submit">Update Menu</button>

{{#each burger}}
{{#if devoured}}
<h2>These were yummy!</h2>
<h3>{{this.burger_name}}</h3>
{{else}}
<h3>{{this.burger_name}}</h3>
<button type="devour" action="/", method="POST">Devour It</button>
{{/if}}
{{/each}}

</form>

<style>
body {
  color: black;
  background-size: cover;
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/ba/b8/9d/bab89d24ec9e65cc74ff1c9956e6680d.jpg");
}

label {
  font-size: 20px;
  font-weight: bold;
}
</style>
<!-- update/method=PUT" -->
<!-- method=PUT -->
